.navlink {
  color: blue;
  padding: 10px;
}

.App{
  color:#3d3d3d;
}

.Editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageEditor {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* border:solid 1px #FC5879; */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.212);
}

.parentContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginContainer{
  background: white;
  border-radius:20px;
  box-shadow: 0px 0px 10px rgba(110, 110, 110, 0.212);
  margin:50px auto;
  width:400px;
}

.hLine{
  margin:auto;
  border:0.5px solid rgb(202, 202, 202);
  width:40%;
}

.loginSocialTitle{
  width:90;
  display: flex;
  /* color:#FC5879; */
  font-weight: bold;
}

/* .firebaseui-card-content

.firebaseui-idp-list{
  display: flex;
  width:100%;
} */

.loginWrap{
  z-index: 1;
}

#loginBtn{
  padding:10px 20px;
  border-radius: 25px;
  width:100%;
  margin:10px 0px;
  background:linear-gradient(to right, #FF7676, #F54EA2);
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size:20px;
  cursor: pointer;
  /* box-shadow: 0 6px 12px 0 rgba(0,0,0,0.12); */
  border:none;
}

.loginBtnWrap{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.previewEditor {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* border:solid 1px #FC5879; */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.212);
  position: relative;
}

.previous-gallery{
  position: absolute;
  top:45%;
  left:0px;
  cursor: pointer;
}

.next-gallery{
  position: absolute;
  top:44%;
  right:0px;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
  cursor: pointer;
}

.invitationImage {
  position: absolute;
  max-height: 398px;
  max-width: 398px;
  overflow: hidden;
  touch-action: none;
}

.previewImageWrap{
  width: 398px;
  overflow: hidden;
}

.photoImage {
  position: absolute;
  max-height: 398px;
  max-width: 398px;
  overflow: hidden;
}

#Preview{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  text-align: left;
}





.Preview{
  margin:20px;
}

.previewImage{
  display: flex;
  align-items: center;
  justify-content: center;
  height:400px;
  width:400px;
}

#previewHeading{
  text-align: left !important;
}

#previewTick{
  background: white;
  width: 30px;
  height: 30px;
  border:solid 1px #FF416C;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px;
}

.paymentPhotoWrap{
  display: flex;
  justify-content: center;
}

.rating {
  margin: 10px 0px;
  display: flex;
  justify-content: flex-start;
}

#container {
  width: 400px;
  height: 400px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
}

#item {
  background-color: rgb(245, 230, 99);
  touch-action: none;
  user-select: none;
  z-index: 100;
  cursor: pointer !important;
}

#item:active {
  background-color: rgba(168, 218, 220, 1.00);
  cursor: pointer !important;
}

#item:hover {
  cursor: move
}

#galleryImages {
  max-width: 100%;
  max-height: 150px;
  border-radius:20px;
  padding:5px;
}

#galleryContainer {
  position: relative;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.212);
  background: White;
  margin: 10px;
  height: 150px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}



#galleryContainer #btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -20%);
  -ms-transform: translate(30%, -20%);
  background-color: #555;
  color: white;
  font-size: 14px;
  width: 20px;
  height: 22px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

.fileContainer {
  overflow: hidden;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);

  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.212);
  background: WhiteSmoke;
  border-radius: 20px;
  float: left;
  padding: .5em;
  color: grey;
  height: 150px;
  width: 150px;
  margin: 10px;
}

.fileContainer [type=file] {
  cursor: pointer;
}

#plus {
  font-size: 75px;
}

#close {
  display: flex;
  border: none;
  background: transparent;
  color: red;
}

#closebtn {
  color: black;
  border: none;
  background: transparent;
  cursor: pointer;
  padding-bottom: 5px;
  padding-right: 5px;
}

input[type=range] {
  border: none;
}

.sliderContainer {
  height: 53px;
  width:450px;
}

#DateRow {
  margin: 2px;
}

#date::placeholder{
  color:#3d3d3d;
}

#locationLinkWrap{
  display: flex;
}

#locationLinkText {
  padding: 0px 10px 10px 10px;
  color: #3d3d3d;
}

#locationLink {
  display: inline;
  padding: 0px 10px 10px 10px;
  color: #3d3d3d;
}

#locationLink:hover{
  color:#FC5879
}

#checkbox{
  padding:0px 10px;
}

#position {
  display: none;
}

#card {
  height: 200px;
  width: 200px;
  background: white ;
  margin: 10px 30px;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border:solid 1px #FC5879;
  box-shadow: 0px 5px 10px rgba(110, 110, 110, 0.212);
}

#templateCard{
  height: 100px;
  /* width: 20%; */
  padding:10px;
  background: white ;
  margin: 5px 10px;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border:solid 1px #FC5879;
  box-shadow: 0px 5px 10px rgba(110, 110, 110, 0.212);
}

#publishBtn{
  margin-top:50px;
  margin-left:10px;
  padding:10px 30px;
  border-radius: 25px;
  background:linear-gradient(to right, #FF7676, #F54EA2);
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size:20px;
  float:right;
  cursor: pointer;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.12);
}

#cardText{
  margin:10px;
}

#cardWrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#containerCategory {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding:20px;
}

.containerCategory{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  padding:20px !important;
}

.templatePreview{
  border-radius: 20px;
}

.template{
  width:100%;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.212);
}

.templateContainer{
  /* margin-top:50px; */
}

.previewContainer{
  padding-top:20px;
}

.storeIcon{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top:50px;
}

.storeIconWrap{
  display: flex;
}

.store{
  margin-right:10px;
}

#background {
  position: absolute;
  z-index: -1;
  background: #FF416C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width:100%;
  min-height:100vh;
}

#navbarContainer{
  background: #FF416C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF7676, #F54EA2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF7676, #F54EA2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width:100%;
  height:80px;
}

#card #invitation {
  width: 120px;
  margin-left: 20px;
}

#card #photoalbum {
  width: 110px;
}

#card #weddingIcon {
  width: 120px;
}

#card #otherIcon {
  width: 120px;
}

#priceCard {
  height: 320px;
  width: 220px;
  background: white;
  margin: 10px 20px;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16.5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.212);
  position: relative;
}

#priceCardPremium {
  height: 363px;
  width: 250px;
  background: white;
  margin: 10px 20px;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.212);
  position: relative;
}

.mrp{
  font-size: 20px;
  text-decoration:line-through
}

#mrpsup{
  font-size: 14px;
}

#priceBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#priceContent {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.card {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
}

.card:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.02);
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -moz-transform: scale(1.02);
  box-shadow: 0px 10px 60px rgba(110, 110, 110, 0.212) !important;
}

#inr {
  font-size: 20px;
  font-weight: 400;
}

.features {
  margin: 3px;
}

.price {
  margin: 0px;
}
.customPrice {
  margin: 10px;
}

#discount{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(30%, -20%);
  -ms-transform: translate(30%, -20%);
  top:0px;
  right:0px;
  border-radius: 50%;
  width:80px;
  height:80px;
  background: #FF4B2B;
  color:white;
}

#discountOff{
  font-size: 18px;
  margin:0px;
}

#discountPrice{
  margin:0px;
  font-size: 20px;
}

.plan {
  font-size: 20px;
  margin: 8px;
  font-weight: bold;
}

.planPremium {
  font-size: 22px;
  margin: 8px;
  font-weight: bold;
}

.planTitle {
  font-size: 18px;
  margin: 8px;
  font-weight: 200;
}

/* GroomBrideName */

#groomBrideIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:50px;
}

#groomBrideInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top:70px;
}

#groom_name,
#bride_name,
#date,
#time,
#location {
  font-size: 18px;
  border-bottom: #FC5879 solid 1px;
}

#nextBtn {
  float: right;
  cursor: pointer;
}

#nextBtnNewDiv{
  width:100%;
  display: flex;
  justify-content: flex-end;
}

#nextBtnNew{
  margin-top:50px;
  cursor: pointer;
  background: linear-gradient(to right, #FF7676, #F54EA2);
  color:white;
  border-radius:30px;
  padding:10px 20px;
  margin:10px;
  float: right;
}

#nextBtnInvitation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  float: right;
  margin: 20px 10px;
  cursor: pointer;
}

#tick {
  background: white;
  width: 50px;
  height: 50px;
  border:solid 1px #FF416C;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#invitationWrap {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

#invitationVideoWrap {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

#invitationDiv {
  position: relative;
  text-align: center;
  background: white;
  border:solid 1px #FF416C;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

#invitationDiv { transition: all .2s ease-in-out; }
#invitationDiv:hover { transform: scale(1.05); }

/* #invitationDiv:hover{
  background: rgba(255, 65, 109, 0.527);
} */

.invitation {
  opacity: 0.0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#upload{
  cursor: pointer;
}

#progress{
  color:#fd678f;
}

.videoInfo{
  height: 22px;
  width: 322px;
}

.resizeVideo{
  font-size: 15px;
}

#boxWrap{
  border:solid 1px
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:10px;
}
.modal{
  max-width:400px;
  border-radius: 20px;
}

.modal-footer{
  display: none;
}

#orderWrap{
  background: white;
  margin:10px 0px;
  border-radius: 20px;
  padding: 0px !important;
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.212); */
}



.orderContainer{
  margin:20px 0px 0px 0px;
}

#editBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}
#orderImage{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:10px;
  flex-direction: column;

}
#orderText{
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin:0px !important;
  padding: 0px !important;
}
#orderPrice{
  font-size: 20px;
  text-align: right;
  font-weight: bolder;
  margin:0px !important;
  padding: 0px !important;
}
.background{
  margin:10px 0px;
  /* border:solid 1px #FC5879; */
  border-radius:20px;
}



#line{
  border-bottom:1px solid #fd678f;
  display: flex;
  align-items: center;
  justify-content: center;
}
#title{
  text-align: left;
}

#infoCardCounterWrap{
  display: flex;
  justify-content: flex-end;
  padding: 0px !important;
}

#minus{
  cursor: pointer;
  padding:5px;
}
#count{
  padding:5px;
  width:50px;
}
#add{
  padding:5px;
  cursor: pointer;
}
.info{
  margin:0px 5px;
  cursor: pointer;
}
#saveAddress{
  margin-top:20px;
  height:50px;
  width:150px;
  padding:10px;
  border-radius: 30px;
  background:linear-gradient(to right, #FF7676, #F54EA2);
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size:16px;
  float:right;
  cursor: pointer;
}

#addBtn{
  margin-top:20px;
  height:50px;
  width:150px;
  padding:10px;
  border-radius: 30px;
  background:linear-gradient(to right, #FF7676, #F54EA2);
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size:16px;
  cursor: pointer;
}
#removeBtn{
  margin-top:20px;
  height:50px;
  width:150px;
  padding:10px;
  border-radius: 30px;
  background:linear-gradient(to right, #FF7676, #F54EA2);
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size:16px;
  cursor: pointer;
}


.flexColumn{
  display:flex;
  flex-direction: column;
}

.flexRow{
  display:flex;
  flex-direction: row;
}

.flexCenter{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexCenterColumn{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexSpaceAround{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.flexSpaceBetween{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flexStart{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.flexEnd{
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.flexStartColumn{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text_left{
  text-align: left;
}

.text_right{
  text-align: right;
}

.h4{
  font-size:20px;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}

.h3{
  font-size:24px;
}

.h5{
  font-size:16px;
}

.navitem{
  color:white;
  display:inline;
  font-size:16px;
  cursor: pointer;
  padding:15px 20px;
}

.padding0{
  padding:0px !important;
}

.padding{
  padding:10px !important;
}

.padding5{
  padding:5px !important;
}

.padding10{
  padding:10px !important;
}

.padding20{
  padding:20px !important;
}

.padding30{
  padding:30px !important;
}

.padding40{
  padding:40px !important;
}

.padding50{
  padding:50px !important;
}

.margin0{
  margin:0px !important;
}

.margin10{
  margin:10px !important;
}

.margin20{
  margin:0px !important;
}

.margin30{
  margin:0px !important;
}

.height{
  height:500px;
}

.height100{
  height:100px;
}

.height50{
  height:50px;
}

.myorderUsername{
  background:linear-gradient(to right, #FF7676, #F54EA2);
  height:100px;
  color:white;
  font-size: 20px;
  padding:20px !important;
  cursor: pointer;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.12);
}

.createNewProject{
  padding:20px !important;
  height:100px;
  cursor: pointer;
}

.line{
  border-bottom: 1px solid rgba(165, 165, 165, 0.459);
}

.orderContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.orderWrap{
  background: whitesmoke;
  padding:0px !important;
  margin:10px !important;
  /* margin:10px 0px; */
  border-radius: 20px;
  /* padding: 20px !important; */
}

.orderImageDiv{
  padding:0px !important;
}

.orderImage{
  object-fit: cover;
  height:200px;
  border-radius: 20px 20px 0px 0px;
}

.orderTitle{
  font-weight: 600;
  text-align: left;
  font-size: 18px;
}

.orderStatus{
  text-align: left;
  font-size: 14px;
}

.orderContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:5px 15px !important;
}

.orderAction{
  text-align: right;
  font-size: 14px;
}

.edit_from_history{
  cursor: pointer;
  color:rgb(14, 14, 168);
}

.delete_from_history{
  cursor: pointer;
  color:rgb(173, 15, 15);
}

.red{
  color:red;
}
/* .MuiStepIcon-root-51.MuiStepIcon-active-53{
  color: #fc6985 !important;
}
.MuiStepper-root-4{
  padding:10px !important;
}
.MuiStepLabel-label-43.MuiStepLabel-alternativeLabel-49{
  margin:5px !important;
}

.MuiStepLabel-label-152.MuiStepLabel-alternativeLabel-158{
  margin:5px !important;
}

.MuiPaper-root-8{
  background: whitesmoke !important;
  border-radius: 0px 0px 20px 20px;
}
.MuiStepper-root-113{
  background: whitesmoke !important;
  border-radius: 0px 0px 20px 20px;
}
.MuiStepper-root-113{
  padding:10px !important;
}

.MuiPaper-root-226{
  background-color: whitesmoke !important;
  border-radius: 0px 0px 20px 20px;
  padding:10px !important;
}

.MuiStepIcon-root-51.MuiStepIcon-completed-54{
  color: #fc6985 !important;
}

.MuiStepIcon-root-160.MuiStepIcon-completed-163{
  color: #fc6985 !important;
}
.MuiStepIcon-root-160.MuiStepIcon-active-162{
  color: #fc6985 !important;
}

.MuiStepIcon-root-269.MuiStepIcon-completed-272{
  color: #fc6985 !important;
}

.MuiStepIcon-root-269.MuiStepIcon-active-271{
  color: #fc6985 !important;
} */

.myContent{
  overflow-y:auto;
}

.loading{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #3d3d3d80;
  color:white;
  position: absolute;
  top:0px;
  left:0px;
  z-index: 101;
}


.photo-list{
  background: whitesmoke;
  padding:10px 10px !important;
}

.add-photo-list{
  padding:20px;
  cursor: pointer;
}

.photo-list-item{
  position: relative;
  background: white;
  border-radius:10px;
  cursor: pointer;
  margin:10px;
}

.photo-list-item :hover{
  background: linear-gradient(to right, #FF4B2B90, #FF416C90);
  border-radius:10px;
}

.photo-list-img{
  max-width:50px;
  max-height:50px;
  border-radius:10px;
  margin:10px;
}

.close-btn{
  position: absolute;
  top:0px;
  right:0px;
  cursor: pointer;
  transform: translate(30%, -20%);
  -ms-transform: translate(30%, -20%);
}

.photo-list-noimg{
  padding:20px;
  font-size: 20px;
}

.firebaseui_container{
  display:flex;
}

@keyframes loader {
  0%, 10%, 100% {
    width: 80px;
    height: 80px;
  }
  65% {
    width: 150px;
    height: 150px;
  }
}
@keyframes loaderBlock {
  0%, 30% {
    transform: rotate(0);
  }
  55% {
    background-color: #F37272;
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes loaderBlockInverse {
  0%, 20% {
    transform: rotate(0);
  }
  55% {
    background-color: #F37272;
  }
  100% {
    transform: rotate(-90deg);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  animation: loader 1.2s infinite ease-in-out;
}
.loader span {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #EE4040;
  animation: loaderBlock 1.2s infinite ease-in-out both;
}
.loader span:nth-child(1) {
  top: 0;
  left: 0;
}
.loader span:nth-child(2) {
  top: 0;
  right: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(3) {
  bottom: 0;
  left: 0;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}
.loader span:nth-child(4) {
  bottom: 0;
  right: 0;
}

body {
  background-color: #584E4A;
}

.forgetPassword{
  cursor: pointer;
}

.imageTerms{
  font-size:12px;
  text-align: left;
  color:#FC5879;
}

.delete_from_history{
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .HorizontalLabelPositionBelowStepper-root-1 {
    width:100% !important;
  }
}

@media screen and (max-width: 600px) {
  .loginContainer{
    background: white;
    border-radius:20px;
    box-shadow: 0px 0px 10px rgba(110, 110, 110, 0.212);
    margin:50px auto;
    width:100%;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-contentt {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  top:70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-data{
  padding:10px;
}

.dropdown-data:hover{
  background: rgba(128, 128, 128, 0.274);
}

.dropdown:hover .dropdown-contentt {
  display: block;
}

.photoOrderTitleDiv{
  display: flex;
  align-items: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}